# Data Scrapping script for data collection from Indeed

Introduction:
This script aims at scrapping data from indeed. Data collected will be used in for training the Tech job salary prediction model.

>>Hint:
    To run this script ensure your already have Selenium and Chrome driver installed. installation guide can be found [here](https://selenium-python.readthedocs.io/installation.html)

In [280]:
#Import the packages 
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup as bs
import pandas as pd


#specify driver path
DRIVER_PATH = 'C:\Program Files\Google\Chrome\Application\chromedriver.exe' # ensure to change this to your chrome driver location 
driver = webdriver.Chrome(executable_path = DRIVER_PATH)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  del sys.path[0]

In [281]:
# open page
driver.get('https://indeed.com')

In [282]:
#Find the what element 
what_search_box = driver.find_element(By.XPATH, '//*[@id="text-input-what"]')
#search_button = driver.find_element(by=By.ID, value="search_button_homepage")

In [283]:
# pass job title in the what search
what_search_box.send_keys("Data Analyst")

In [284]:
#Find the where element 
where_search_box = driver.find_element(By.XPATH, '//*[@id="text-input-where"]')

In [285]:
# pass location
where_search_box.send_keys("Nigeria")

In [286]:
#Click on the search
search_button = driver.find_element(By.XPATH, '//*[@id="jobsearch"]/button')

In [287]:
search_button.click()

In [288]:
# get the listed job search returned 
job_cards = driver.find_elements(By.CLASS_NAME, 'resultContent')

In [289]:
# get the number of jobs returned 
number_returned = len(job_cards)

In [290]:
salary_list = []
contract_type_list = []
company_list = []
location_list = []
title_list = []
 

# loop through each job
for job in job_cards:
    element = job.get_attribute('outerHTML')
    doc = bs(element, "html.parser")
    
    #check if salary was provided
    salary_checker = doc.find_all("div", {"class" : 'metadata salary-snippet-container'})
    
    try:
        '''Check if salary is given and extract, if not extract just contract type'''
        salary = salary_checker[0].text
        
        salary_contract_type = doc.find_all("div", {"class" : 'attribute_snippet'})
        
        salary = salary_contract_type[0].text
        contract_type = salary_contract_type[1].text
    except:
        salary = 'Null'
        contract_type = doc.find_all("div", {"class" : 'attribute_snippet'})
        try:
            contract_type = contract_type[0].text
        except:
            contract_type = 'Null'
        
    
    #append salary and contact type
    salary_list.append(salary)
    contract_type_list.append(contract_type)
    
    #get company name
    company = doc.find_all("span", {"class" : 'companyName'})
    company_list.append(company[0].text)
    
    #get location 
    location = doc.find_all("div", {"class" : 'companyLocation'})
    location_list.append(location[0].text)
    
    #get job title
    a_tag = doc.find_all("a")
    title = a_tag[0].text
    title_list.append(title)

In [291]:
salary_list

['₦300,000 - ₦700,000 a month',
 '₦80,000 - ₦100,000 a month',
 'Null',
 '₦150,000 - ₦200,000 a month',
 'Null',
 'Null',
 'Null',
 'Null',
 '₦150,000 - ₦200,000 a month',
 'Null',
 'Null',
 'Null',
 'Null',
 '₦100,000 - ₦110,000 a month',
 '₦110,000 a month']

In [292]:
contract_type_list

['Full-time',
 'Full-time +1',
 'Full-time',
 'Full-time',
 'Contract',
 'Contract',
 'Full-time',
 'Internship',
 'Full-time',
 'Null',
 'Full-time',
 'Null',
 'Full-time',
 'Full-time',
 'Full-time']

In [293]:
title_list

['Data Analyst',
 'PROCESS ANALYST INTERN',
 'Data Analyst',
 'POLICY AND RESEARCH ANALYST',
 'Data Analyst Recruitment at Techie Planet Limited',
 'Data Analyst',
 'Operations Analyst',
 'Data Analyst (NYSC)',
 'Sales Analyst',
 'Global Data & Insights Fellow (Data Analysis & Visualization...',
 'Analyst (Generalist)',
 'Data Analyst – Nigeria IHP –Jega',
 'Research Associate',
 'BI Analyst',
 'Internal Business Analyst']

In [294]:
Data_list = {"Title" : title_list,  
            "Salary" : salary_list,
            "Contract Type" : contract_type_list,
             "Company Name" : company_list,
            "Location" : location_list}

In [295]:
dataset = pd.DataFrame(Data_list)

In [296]:
dataset

,Title,Salary,Contract Type,Company Name,Location
0,Data Analyst,"₦300,000 - ₦700,000 a month",Full-time,Connected Analytics Limited,Lagos
1,PROCESS ANALYST INTERN,"₦80,000 - ₦100,000 a month",Full-time +1,LEITUNG GATE LIMITED,Lagos
2,Data Analyst,Null,Full-time,GVA Partners,Lagos
3,POLICY AND RESEARCH ANALYST,"₦150,000 - ₦200,000 a month",Full-time,MEG Consults,Abuja
4,Data Analyst Recruitment at Techie Planet Limited,Null,Contract,Techie Planet Limited,Lagos
5,Data Analyst,Null,Contract,MEDA,Bauchi
6,Operations Analyst,Null,Full-time,Sabi,Lagos
7,Data Analyst (NYSC),Null,Internship,Eat N Go Limited,Lagos
8,Sales Analyst,"₦150,000 - ₦200,000 a month",Full-time,salvayservices,Lagos
9,Global Data & Insights Fellow (Data Analysis &...,Null,Null,Wikimedia Foundation,Lagos
10,Analyst (Generalist),Null,Full-time,The People Practice,Lagos
11,Data Analyst – Nigeria IHP –Jega,Null,Null,"Palladium Group, Inc.",Nigeria
12,Research Associate,Null,Full-time,Co-creation Hub,Lagos
13,BI Analyst,"₦100,000 - ₦110,000 a month",Full-time,JSK Consulting Group,Lagos
14,Internal Business Analyst,"₦110,000 a month",Full-time,Urban concept,Kaduna